<div class="container">
	<div class="row">
		<% @books.each do |book| %>
			<div class="card col-md-3" style="">
				<%= image_tag book.photo_url, class: 'card-img-top' %>
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			  	<h5 class="card-title"><%= book.name %></h5>
			  	<small><%= book.author.full_name %></small>
			    <p class="card-text"><%= book.description %></p>
			  </div>
			</div>
		<% end %>			
	</div>
</div>